**Q1**.Given a number N, print 'yes' if it is composite else print 'no'.
Sample Testcase :
INPUT
123
OUTPUT
yes

In [2]:
N=int(input())
i=0
for i in range(1,N):
  if N%i==0:
    factor=i
if factor>1:
  print ('yes')
else:
  print ('no')

123
yes

**Q2**.Write a code to get an integer N and print the even values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line.

Sample Input :
6
Sample Output :
2
4
6

In [1]:
n=int(input())
for i in range(2,n+1): 
    if i%2==0: 
       print(i)

6
2
4
6

**Q3**.Write a program to print the sum of the first K natural numbers.
Input Size : n <= 100000
Sample Testcase :
INPUT
3
OUTPUT
6

In [3]:
a=int(input())
sum=0
for i in range(a+1):
  sum=sum+i
print(sum)

3
6

**Q4**.Given 2 numbers N and M add both the numbers and check whether the sum is odd or even.
Sample Testcase :
INPUT
9 2
OUTPUT
odd

In [4]:
N,M=map(int,input().split(" "))

sum=(M+N)

if (sum%2)==0:
  print('even')
else:
  print('odd')

9 2
odd

**Q5**.Given 3 numbers N , L and R. Print 'yes' if N is between L and R else print 'no'.
Sample Testcase :
INPUT
3
2 6
OUTPUT
yes

In [7]:
N=int(input())
L,R=map(int,input().split())

if N in range(L,R):
  print('yes'),
else:
  print('no')2

3
2 6
yes

**Q6**.Given base(B) and height(H) of a triangle find its area.
Input Size : N <= 1000000
Sample Testcase :
INPUT
2 4
OUTPUT
4

In [8]:
B,H=map(int,input().split(" "))
triangle=((1/2)*(B*H))

print(round(triangle,1))

2 4
4.0

**Q7**.Write a code to get an integer N and print values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from 1 to N in a separate line.

Sample Input :
5
Sample Output :
1
2
3
4
5

In [9]:
a=int(input())
i = 1
while i <= a:
  print(i)
  if i == a:
    break
  i= i+1

5
1
2
3
4
5

**Q8**.Find the minimum among 10 numbers.
Sample Testcase :
INPUT
5 4 3 2 1 7 6 10 8 9
OUTPUT
1

In [10]:
a=map(int,input().split())
print(min(a))

5 4 3 2 1 7 6 10 8 9
1

**Q9**.Given 2 numbers N and K followed by N elements,print the number of repetition of K otherwise print '-1' if the element not found.
Sample Testcase :
INPUT
6 2
1 2 3 5 7 8
OUTPUT
0

In [11]:
b,k = map(int,input().split())
n = list(map(int,input().split()))
flag = 0
if k in n:
    flag += 1
    if flag > 1:
        print(flag)
    else:
        print(0)
else:
    print(-1)

6 2
1 2 3 5 7 8
0

**Q10**.Given 2 numbers N,M. Print 'yes' if their product is a perfect square else print 'no'.
Sample Testcase :
INPUT
5 5
OUTPUT
yes

In [12]:
import math

N,M=map(int,input().split(" "))

root=N*M
if (root**0.5)==N:
    print("yes")
else:
    print("no")

5 5
yes

**Q11**.Write a code to get a integer n as input and calculate the smallest perfect power of 2 greater than n.

Input Description:
A single line containing an integer,n.

Output Description:
Print the smallest perfect power of 2 greater than n.

Sample Input :
48
Sample Output :
64

In [13]:
s=int(input())
n=2
d=[]
for i in range(20):
    n=n*2
    d.append(n)
for i in d:
    if i>s:
        print(i)
        break

48
64

**Q12**.Write a code to get an integer N and print the sum of  values from 1 to N.

Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

Sample Input :
10
Sample Output :
55

In [14]:
n=int(input())

print(int(n*(n+1)/2))

10
55

**Q13**.Write a code to get the input and print it 5 times.

Input Description:
A single line contains an integer N.

Output Description:
Output contains 5 lines with each line having the value N.

Sample Input :
4
Sample Output :
4
4
4
4
4

In [15]:
a=input()
i=0
while i<5:
  print(a)
  i=i+1

4
4
4
4
4
4

**Q14**.Given 2 numbers N,M find the GCD of N and M.If it cannot be found for given number(s) then print -1
Sample Testcase :
INPUT
10 5
OUTPUT
5

In [16]:
import math
M,N=map(int,input().split(" "))
a=math.gcd(M,N)

if M>0 and N>0:
  print(a)
elif M==0 or N==0:
  print("-1")
else:
  print("1")

10 5
5

**Q15**.Given a number N and an array of N elements ,find the Bitwise AND of the array elements.
Input Size N <= 100000
Sample Testcase :
INPUT
4
4 3 2 1
OUTPUT
0

In [ ]:
n=int(input())
l=list(map(int,input().split()))
sum=l[0]
for i in range(1,n):
  sum = (sum & int(l[i]))
print(sum)

**Q16**.Given 3 numbers A,B,C process and print 'yes' if they can form the sides of a triangle otherwise print 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [19]:
a,b,c=map(int,input().split())

if a+b>c and b+c>a and c+a>b:
    print("yes")
else:
    print("no")

3 4 5
yes

**Q17**.Given 3 numbers A,B,C print 'yes' if they can form the sides of a scalene triangle else print 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [20]:
a,b,c=(map(int,input().split()))

if a==b or b==c or c==a:
  print("no")
else:
  print("yes")

3 4 5
yes

**Q18**.Given a range of 2 numbers (i.e) L and R count the number of prime numbers in the range (inclusive of L and R ).
Input Size : L <= R <= 100000(complexity O(n) read about Sieve of Eratosthenes)
Sample Testcase :
INPUT
2 5
OUTPUT
3

In [ ]:
L,R=map(int,input().split(" "))
i=0
a=[]
for i in range(L,R+1):
    if (i%2)!=0:
        a.append(i)
print(a)

**Q19**.Given a string 'S' swap the even and odd characters starting from index 1(Assume the index starts from 0).
Input Size : |s| <= 10000000(complexity O(n))
Sample Testcase :
INPUT
codekata
OUTPUT
ocedakat

In [21]:
s=input()
t=list(s)
t[::2],t[1::2]=t[1::2],t[::2]
c=''.join(t)
print(c)

codekata
ocedakat

**Q20**Write a code to get an integer N and print the digits of the integer.

Input Description:
A single line contains an integer N.

Output Description:
Print the digits of the integer in a single line separated by space,

Sample Input :
348
Sample Output :
3 4 8

In [22]:
N=(input())
print(*N)

348
3 4 8

**Q21**.Given numbers A,B find A^B.
Input Size : 1 <= A <= 5 <= B <= 50
Sample Testcase :
INPUT
3 4
OUTPUT
81

In [23]:
A,B=map(int,input().split(" "))
c=(A**B)
print(c)

3 4
81

**Q22**.Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

Sample Input :
10
Sample Output :
10
9
8
7
6
5
4
3
2
1

In [24]:
N=int(input())

for i in range(N,0,-1):
  print(i)

10
10
9
8
7
6
5
4
3
2
1

**Q23**.Write a code to get 2 integers as input and add the integers without any carry.

Input Description:
A single line containing 2 integers.

Output Description:
Print sum of the 2 integers without carry

Sample Input :
44 66
Sample Output :
0

In [ ]:
a, b = list(map(int, input().split()))

c = a + b

d = str(c)
A = str(a)
B = str(b)

if c < 110 and ( len(d) > len(A) or len(d) > len(B)) :
    print(d[-1])
    
elif c > 110 :
    print((c - 100)/2)
    
else:
    print(c)

**Q24**.Write a program to get a string as input and reverse the string without using temporary variable.

Input Description:
A single line containing a string.

Output Description:
Print the reversed string.

Sample Input :
GUVI
Sample Output :
IVUG

In [25]:
a=input()
print(a[::-1])

GUVI
IVUG

**Q25**.Given 3 numbers A,B,C print 'yes' if they can form the sides of a right angled triangle,otherwise 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [26]:
a,b,c=map(int,input().split())

if a+b>c and b+c>a and c+a>b:
    print("yes")
else:
    print("no")

3 4 5
yes

**Q26**.Write a code get an integer number as input and print the odd and even digits of the number separately.

Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :
2 4
1 3

In [27]:
n = input()
even = []
odd = []
for i in n:
    if int(i) % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
even.sort()
odd.sort()
print(*even)
print(*odd)

1234
2 4
1 3

**Q27**.Given a string S consisting of 2 words reverse the order of two words .
Input Size : |S| <= 10000000
Sample Testcase :
INPUT
hello world
OUTPUT
world hello

In [28]:
a=input().split(" ")

b=(a[::-1])
print(*b)

hello world
world hello

**Q28**.Given 2 numbers N and K followed by elements of N .Print 'yes' if K exists else print 'no'.
Sample Testcase :
INPUT
4 2
1 2 3 3
OUTPUT
yes

In [30]:
N,K=map(int,input().split(" "))
L=list(map(int,input().split(" ")))

if K in L:
  print("yes")
else:
  print("no")

4 2
1 2 3 3
yes

**Q29**.Given a number N and an array of N elements, find the Bitwise OR of the array elements.
Input Size : N <= 100000
Sample Testcase :
INPUT
2
2 4
OUTPUT
6

In [32]:
n=int(input())
l=list(map(int,input().split()))
sum=l[0]
for i in range(1,n):
  sum = (sum | int(l[i]))
print(sum)

2
2 4
6

**Q30**.Write a code to get 2 integers as input and find the HCF of the 2 integer without using recursion or Euclidean algorithm.

Input Description:
A single line containing 2 integers separated by space.

Output Description:
Print the HCF of the integers.

Sample Input :
2 3
Sample Output :
1

In [33]:
import math
x,y = map(int,input().split(" "))
print(math.gcd(x,y))

2 3
1

**Q31**.Kabali is a brave warrior who with his group of young ninjas moves from one place to another to fight against his opponents. Before Fighting he just calculates one thing, the difference between his ninja number and the opponent's ninja number. From this difference he decides whether to fight or not. Kabali's ninja number is never greater than his opponent.
Input
The input contains two numbers in every line. These two numbers in each line denotes the number ninjas in Kabali's clan and his opponent's clan . print the absolute difference of number of ninjas between Kabali's clan and his opponent's clan. Each output should be in seperate line.
Sample Testcase :
INPUT
100 200
OUTPUT
100

In [34]:
a,b=(map(int, input().split()))

c=(b-a)

print(c)

100 200
100

**Q32**.Write a code get an integer number as input and print the sum of the digits.

Input Description:
A single line containing an integer.

Output Description:
Print the sum of the digits of the integer.

Sample Input :
124
Sample Output :
7

In [35]:
n=int(input())
sum=0
while(n>0):
    dig=n%10
    sum=sum+dig
    n=n//10
print(sum)

124
7

**Q33**.Let P represent Paper, R represent Rock and S represent Scissors. Given 2 out of the 3 determine which one wins. If its a draw print 'D'.
Sample Testcase :
INPUT
R P
OUTPUT
P

In [36]:
A = input()

if 'P' in A and 'R' in A:
    print('P')
elif 'P' in A and 'S' in A:
    print('S')
elif 'R' in A and 'S' in A:
    print('R')
else:
    print('D')

R P
P